<!DOCTYPE html>
<html>
    <body>
        <form>
            <h1><strong>Signup</strong></h1>
            Username
            <input name="username" maxlength="12" required autofocus placeholder="Enter a username"/><br>
            Password
            <input name="pw" type="password" maxlength="20" placeholder="Enter a password" required/><br>
            Verify Password
            <input name="pw_ver" type="password" maxlength="20" placeholder="Must match exactly" required/><br>
            Email (optional)
            <input name="email" type="email" placeholder="Enter your email"/><br>
            <input name="submit" type="submit" value="Sign me up!"/>
        </form>
    </body>
</html>